<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_stylesheet.css') }}">
</head>

<header>
    <img src='static/DukeLogo.png' id='logo'>
    <h1 id="pageTitle">
        <div class="center">
        STINGAR User Login
        </div>
    </h1>
</header>

<body>
    <div class="inputForms">
    <br>
    <form class="LoginForm" action="/userLogin" method = "post">
        <label for="password">Enter Credentials</label><br><br>
        <input type="text" id="text" name="username" placeholder="Username"><br><br>
        <input type="password" id="password" name="password" placeholder="Password"><br><br>
        <input type="submit" id="Login" value="Login"> <br><br>
    </form>
    </div>


    <footer>Built by the Code+ Home Network Defense Team &copy 2021</footer>

</body>
</html>
